<div class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Woodhouse</a>
    </div>
    <div class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
        {{#link-to 'index' tagName="li"}}<a {{bind-attr href="view.href"}}>Home</a>{{/link-to}}
        {{#link-to 'interfaces' tagName="li"}}<a {{bind-attr href="view.href"}}>Interfaces</a>{{/link-to}}
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">

  <div class="starter-template">
    {{outlet}}
  </div>

</div>
