<div class="form-group">
    <label {{bind-attr for="id"}} class="col-sm-12 control-label text-left">{{listener}}</label>
    <div class="col-sm-12">
        {{input type="text" class="form-control" id=id value=alias}}
    </div>
</div>
