# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/admin/dist
/admin/tmp

# dependencies
node_modules/
/admin/bower_components/*

# misc
/admin/.sass-cache
/admin/connect.lock
/admin/coverage/*
/admin/libpeerconnection.log
npm-debug.log
testem.log

/interface/
!/interface/shell
/interface/shell/history

/plugin/
!/plugin/say

base-prefs.db
interface-prefs.db
plugin-prefs.db
system-data.db
users.db
cron.db
