@import (reference) '../../bower_components/bootstrap/less/bootstrap.less';

html, body {
  margin: 0px;
}

a {
    cursor: pointer;
}

.navbar-toggle {
    border-color: #9d9d9d;
    color: #9d9d9d;

    &:hover {
        border-color: #ffffff;
        color: #ffffff;
    }
}

.wuphf-message {
    .alert;

    &.danger {
        .alert-danger;
    }

    &.info {
        .alert-info;
    }

    &.success {
        .alert-success;
    }

    &.warning {
        .alert-warning;
    }
}

.module-item {
    width: 100%;

    h2 {
        display: inline-block;
    }

    .enabled- {
        &false{
            .glyphicon-remove-circle;
            color: red;
            font-size: 20px;
        }

        &true {
            .glyphicon-ok-circle;
            color: green;
            font-size: 20px;
        }

    }
}
