<table class="module-list">
    <thead>
        <th>Name</th>
        <th>Enabled</th>
    </thead>
    <tbody>
    {{#each}}
        <tr>
            <td>{{link-to name 'interfaces.show' this}}</td>
            <td><i {{bind-attr class='enabledClass'}}></i></td>
        </tr>
    {{/each}}
    </tbody>
</table>
