<table>
    <thead>
        <th>Name</th>
        <th>Enabled</th>
    </thead>
    <tbody>
    {{#each}}
        <tr>
            <td>{{link-to name 'plugins.show' this}}</td>
            <td>{{enabled}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
